<h1>Estado de las Colas</h1>
<table>
    <tr>
        <th>Cola</th>
        <td>{{ queueStatus.queueName }}</td>
    </tr>
    <tr>
        <th>Mensajes Pendientes</th>
        <td>{{ queueStatus.messagesReady }}</td>
    </tr>
    <tr>
        <th>Mensajes Procesados</th>
        <td>{{ queueStatus.messagesProcessed }}</td>
    </tr>
</table>
